*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #499167;
}

h1{
    margin-top: 10vmin;
    margin-bottom: 1vmin;
    text-align: center;
    font-size: xx-large;
    color: #fff;
}
p{
    text-align: center;
    margin-bottom: 30px;
    color: #fff;

}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background-color: #5FDD9D;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: box-shadow 0.3s;
    cursor: pointer;
}

form:hover {
    box-shadow: 0 10px 4px 10px rgba(0, 0, 0, 0.1);
}

form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #91F9E5;
    font-size: 18px;
    padding: 0 30px;
    border-radius: 8px;
}

form button{
    padding: 0 40px;
    height: 100%;
    background-color: #76F7BF;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;

}

::placeholder{
    color: #fff;
    font-size: 18px;
}

#more{
    background-color: burlywood;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: block;
    display: none;
}